<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>gay.kota.kls</string>
			<key>titleColor</key>
			<string>#FF99CC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Core Animation(fun)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>enabledFloater</string>
			<key>label</key>
			<string>Enable Time Float</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>USE_TRANS_COLORS</string>
			<key>label</key>
			<string>Trans Gradient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Music Player Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>MRUBorder</string>
			<key>label</key>
			<string>Music Player Border Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>MRUTitleColor</string>
			<key>label</key>
			<string>Song Title Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>MRUSubtitleColor</string>
			<key>label</key>
			<string>Song Subtitle Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>MRUShadow</string>
			<key>label</key>
			<string>Border Shadow Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Main Time Colors/Fonts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>textColorTwo</string>
			<key>label</key>
			<string>Main Time(flow) Text Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>flowcolor2</string>
			<key>label</key>
			<string>Shadow Color (flow)behind Main Time</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>SFUI-Semibold</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>setTimeFont</string>
			<key>placeholder</key>
			<string>Set Time Font</string>
			<key>height</key>
			<real>44</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Subtitle Time Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>textColorTwo</string>
			<key>label</key>
			<string>Subtitle Time Text Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>shadowColor2</string>
			<key>label</key>
			<string>Shadow Color behind Sub Time</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>SFUI-Semibold</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>setDateFont</string>
			<key>placeholder</key>
			<string>Set Date Font</string>
			<key>height</key>
			<real>44</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text Shadow Radius Settings</string>
		</dict>
		<dict>
			<key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
			<string>KLSLabeledSliderCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>shadowRadius</string>
			<key>default</key>
			<string>5</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>20</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Shadow Radius</string>
			<key>shadowRadius</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border Corner Radius Settings</string>
		</dict>
		<dict>
			<key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
			<string>KLSLabeledSliderCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>default</key>
			<string>5</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>20</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>								<!-- The label will be used for the label above the slider -->
			<string>Corner Radius</string>
			<key>cornerRadius</key>		<!-- Optional key used for localization -->
			<string>Root</string>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>backColor</string>
			<key>label</key>
			<string>Color box behind Time</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>default</key>
			<string>#33b5e5</string>
			<key>key</key>
			<string>borderColor</string>
			<key>label</key>
			<string>Border Around the Box</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>gay.kota.kls/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Press Home/Swipe Up To Unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Enter custom text here...</string>
			<key>defaults</key>
			<string>gay.kota.kls</string>
			<key>key</key>
			<string>customTextUnlock</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Save Text</string>
			<key>action</key>
			<string>save</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Kota's GitHub</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>action</key>
			<string>openGithubKota</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
        	<string>The Best Lock Screen Customization Tweak!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2023 © R31GNDEV</string>
		</dict>
	</array>
	<key>title</key>
	<string>KLS</string>
</dict>
</plist>
